
:root{
    --primary: #006CFA;
    --secondary: #00E165;

}

[class*="col-"]{
    background-color: var(--primary);
}

.container{
    font-size: 10px;
}

[class*="col-"]>[class*="col-"]{
    background-color: #00E165;
    border: 0.6px solid var(--primary);
    
}




